/*  sub_menu/e_pc.css */

#wrap {
  width:100%; height:auto;
  font-family: 'Malgun Godhic';
}

/* #viewBox */
#viewBox {
  width:100%; height:300px;
  margin-top:100px;
  padding:20px; box-sizing: border-box;
  background-image: url("../../img/menubg_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.view_wrap {
  text-shadow: 2px 2px 2px #333;
  width:75%; height:auto;
  margin: auto;
  color:#fff;
}
.text_box {
  width:40%; height:auto;
  margin-bottom: 100px;
  font-size: var(--font-size3);
  line-height: 1.5;
}
.text_box h2 {
  text-shadow: 2px 2px 2px #333;
  font-size: var(--font-size4);
  font-weight: var(--font-weight3);
  margin-bottom: 30px;
}
/* #menuBox */
#menuBox {
  position:relative;
  width:100%; height:auto;
  margin-top: 100px;
  padding: 30px; box-sizing: border-box;
}
.menu_wrap {
  width:80%; height:auto;
  margin:auto;
}
#menuBox ul {
  width:100%; height:auto;
}
#menuBox ul li{
  float:left;
  width:18.75vw; max-width: 360px; height:25vw; max-height:480px; 
  margin-right: 8.75vw; margin-bottom:80px;
  box-shadow: 3px 3px 3px rgba(255, 193, 7, 0.2),
  -3px -3px 3px rgba(255, 193, 240, 0.1);
}
#menuBox ul li:nth-of-type(3n){
  margin-right:0;
}
#menuBox ul li dl {
  width:100%; height:100%;
  margin:0;
}
#menuBox ul li dt {
  width:100%; height:70%;
}
#menuBox ul li dt a{
  display: block;
  width:100%; height:100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}
#menuBox ul li dt a:hover,
#menuBox ul li dt a:focus {
  background-size: 100%;
}
#menuBox ul li dd {
  width:100%; height:30%;
  padding:30px; box-sizing: border-box;
}
#menuBox ul li dd p:nth-child(2) {float:left}
#menuBox ul li dd p:nth-child(3) {float:right}
#menuBox ul li dd p:first-of-type {
  margin-bottom: 20px;
  font-size: var(--font-size3);
  font-weight: var(--font-weight3);
}
#menuBox .button_box {
  position: absolute;
  width:70px; height:70px;
  bottom:10px; left:50%; transform: translateX(-50%);

}
#menuBox .button_box button {
  width:100%; height:100%;
  border-radius: 100%;
  font-size: 3rem;
  background-color: var(--color-y);
}