/*  footer/a_base.css */
body,html {
  font-family:'Malgun Godhic';
}
#footBox {
  width:100%; height:150px;
  padding:20px; box-sizing: border-box;
  background-color: #333;
  color:#fff;
}
.info_box {
  float:left;
}
.footnavi_box {
  margin-bottom: 40px;
}
.footnavi_box li{
  float:left;
  position: relative;
  margin-right:30px;
}
.footnavi_box li::before{
  content: "";
  display: block;
  position:absolute;
  right: -18px; top: 25%;
  width:1px; height:70%;
  border-right: 1px solid #fff;
}
.footnavi_box li:last-of-type {
  margin-right:0;
}
.footnavi_box li:last-of-type::before {
  display: none;
}
.sns_box {
  float:right;
}
.sns_box h3{
  margin-bottom: 20px;
}
.sns_img {
  float:left;
  width:50px; height:50px;
  margin-right: 20px;  
}
.sns_01 a {
  display: block;
  width:100%; height:50px;
  background-image: url("../../img/f_logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.sns_02 a {
  display: block;
  width:100%; height:50px;
  background-image: url("../../img/kakaotalk.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.sns_03  {
  margin-right: 0;
}
.sns_03 a {
  display: block;
  width:100%; height:50px;
  background-image: url("../../img/youtube.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
address{
  line-height: 1.5;
}