/* lot_main.css */

@import url("../main/a_common.css");
/* @import url("../main/b_phone.css"); */
@import url("../main/c_tablet.css");
@import url("../main/d_laptop.css");
@import url("../main/e_pc.css");