/*  header/d_laptop.css */

@media screen and (min-width:1280px) and (max-width:1599px) {
.gnb_btn{display:none;}
.unb_btn{display:none;}
.globalnavi_box {
  float:left;
}
.globalnavi_box > ul {
  width:39.0625vw;
}
.globalnavi_box > ul > li{
  float:left;
}
.main_content > li:nth-of-type(1) {
  padding-left:10px; box-sizing: border-box;
}
.usernavi_box > ul > li {
  float:right;
}
}