/*  lot_sub_event/e_pc.css */

#wrap {
  width:100%; height:auto;
}
/* directoryBox */
#directoryBox {
  width:100%; height:200px;
  margin-top:100px;
  padding:40px; box-sizing: border-box;
  background-image: url("../../img/eventbg1.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: 100%;
}
#directoryBox p {
  width:100%; height:auto; max-width: 1550px;
  margin:auto;
  color:#fff;
}
#directoryBox p:first-of-type {
  font-size: 3rem;
  margin-bottom: 5rem;
}