/* main/a_common.css */

#wrap {
  width:100%; height:auto;
  font-family: 'Malgun Godhic';
}
/* #headBox */
/* #sideBox */
#sideBox {
  display:none;
}
/* #viewBox */
#viewBox {
  position: relative;
  width:100%; height:auto;
  margin-top:100px; margin-bottom:300px;
}
.indicator_box {
  position: absolute;
  left:50%; transform: translateX(-50%); z-index: 1;
  width:auto; height:auto;
  border-radius:30px;
  box-sizing: border-box;
  opacity: 0.7;
  background-color:#ffc107;
  background-color:var(--color-y);
}

.indicator_box > ul {
  width:auto; height:auto;
}
.indicator_box > ul > li {
  float:left;
  border-radius: 3rem;
  background-color: #fff;
}
.indicator_box > ul > li.act {
  background-color: var(--color-red);
}
.indicator_box > ul > li:first-of-type {
  margin-left:0;
}
.indicator_box li > a {
  display: block;
  width:inherit; height: inherit;
}
.indicator_box li > a:hover {
  box-shadow: 2px 2px var(--color-g3);
}
.indicator_box li > a:focus {
  box-shadow: 2px 2px var(--color-g3);
}
.evbutton_box {
  position:absolute;
  z-index: 1;
  width:100%; height:auto;
  top:50%; transform: translateY(-50%);
  padding:0 1.3rem; box-sizing: border-box;
  opacity:0.5;
}
.evbutton_box > button {
  width:100px; height:100px;
  border:1px solid #fff;
  border-radius: 100%;
  color:#171717;
}
.evbutton_box > button > i {font-size: 3.5rem;}
.evbutton_box > .prev_btn {float:left;}
.evbutton_box > .next_btn {float:right;}
.evimage_box {
  width:100%;
  overflow: hidden;
}
.evimage_box > ul {
  position: relative;
  width:500%; height:100%;
}
.evimage_box > ul > li {
  float:left;
  position:relative;
  width:calc(100% / 5); height:inherit;
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: auto 100%;
}
.evimage_box > ul > li > a {
  position:absolute;
  width:200px; height:50px;
  display: block;
  background-color: var(--color-y);
  font-size: var(--font-size3);
  text-align: center;
  opacity: 0.5;
  line-height: 2.7;
}
/* #bestmenuBox */
#bestmenuBox {
  width:100%; height:auto;
  margin-bottom: 200px;
}
#bestmenuBox > h2 {
  width:90%; height:auto;
  border-bottom: solid 1px #777;
  font-size: 24px;
  line-height: 20px;
  padding-bottom: 30px;
  margin:auto;
}
#bestmenuBox ul li {
  position: relative;
  float:left;
  box-shadow: 3px 3px 3px rgba(255, 193, 7, 0.2),
  -3px -3px 3px rgba(255, 193, 240, 0.1);
}
#bestmenuBox ul li > div {
  display: none;
  position:absolute;
  top:0; left:0; z-index: 10;
  width:100%; height:70%;
  padding:20px; box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #fff;
}
#bestmenuBox ul li > div.act {
  display:block;
}
#bestmenuBox ul li dl {
  width:100%; height:100%;
  margin:0;
}
#bestmenuBox ul li dt {
  position:relative;
  width:100%; height:70%;
}
#bestmenuBox li:nth-of-type(4) dt div {
  position:absolute;
  top:0; left:0;
  width:70px; height:70px;
  background-image: url("../../img/new.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#bestmenuBox li:nth-of-type(2) dt div {
  position:absolute;
  top:0; left:0;
  width:70px; height:70px;
  background-image: url("../../img/hot.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#bestmenuBox ul li dt a{
  display: block;
  width:100%; height:100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}
#bestmenuBox ul li dt a:hover,
#bestmenuBox ul li dt a:focus {
  background-size: 100%;
}
#bestmenuBox ul li dd {
  width:100%; height:30%;
  padding:30px; box-sizing: border-box;
}
#bestmenuBox ul li dd p:nth-child(2) {float:left}
#bestmenuBox ul li dd p:nth-child(3) {float:right}
#bestmenuBox ul li dd p:first-of-type {
  margin-bottom: 20px;
  font-size: var(--font-size3);
  font-weight: var(--font-weight3);
}
/* #reviewBox */
#reviewBox {
  position:relative;
  width:100%; height:auto;
  background-color: rgba(255,193,7,0.1);
  padding:40px; box-sizing: border-box;
}
#reviewBox > h2 {
  width:90%; height:auto;
  border-bottom: solid 1px #777;
  font-size: 24px;
  padding-bottom: 30px;
  margin:auto;
}
#reviewBox button {
  position: absolute;
  bottom:2%; left:0; right:0; margin:auto;
  width:200px; height:50px;
  background-color: var(--color-y);
}
.rr_box {
  height:auto;
  margin:auto;
  padding:40px; box-sizing: border-box;
}
.rr_box li dl {
  width:100%; height:150px;
}
.rr_box li dt {
  float:left;
  width:30%; height:100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}
.rr_box li dd {
  float:right;
  width:69%; height:100%;
  padding:20px; box-sizing: border-box;
  border-radius: 20px;
  background-color: #fff;
}
.rr_box li dd p {
  margin-bottom: 10px;
}
.rr_box li dd p:first-of-type {
  font-size: var(--font-size3);
  font-weight: var(--font-weight3);
}
.rr_box li dd p:last-of-type {
  width:auto; height:20px;
  margin-bottom: 0;
}
.rr_box li dd p:last-of-type i {
  float:left;
  display: block;
  width:20px; height:20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* #footBox */
