/* main/a_common.css */

#wrap {
  width:100%; height:auto;
  font-family: 'Malgun Godhic';
}

/* #headBox */
#headBox {}

/* #sideBox */
#sideBox {
  display:none;
}

/* #viewBox */
#viewBox {}

/* #bestmenuBox */
#bestmenuBox {}

/* #reviewBox */
#reviewBox {position:relative;}
#reviewBox button {
  position: absolute;
  bottom:2%; left:0; right:0; margin:auto;
  width:200px; height:50px;
  background-color: var(--color-y);
}

/* #footBox */
#footBox {}
