/*  b_phone.css */

@media screen and (max-width:767px) {
  #wrap {
    width:100%; height:auto;
    min-width: 320px;
  }
  
  /* #headBox */
  #headBox {
    position: relative;
  }
  #headBox > h1 {
    position: absolute;
    left:0; right:0; margin:auto;
    width:168px; height:40px;
    background-size: 90% auto;
  }
  #naviBox {
    width:100%; height:50px;
    padding:0 1rem; box-sizing: border-box;
  }
  .globalnavi_box {
    float:left;
    width:50px; height:40px;
    background-image: url("../../img/menu.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  .globalnavi_box > li {display: none;}
  .usernavi_box {
    float:right;
    width:50px; height:40px;
    background-image: url("../../img/user.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  .usernavi_box > li {
    display: none;
  }
  /* #sideBox */
  #sideBox {display:none;}
  /* #viewBox */
  .indicator_box {
    bottom:5%;
    padding:1vw;
  }
  .indicator_box > ul > li {
    width:2vw; height:2vw;
    margin-left:5px;
  }
  
  .indicator_box > ul > li.act {
    width:5vw;
  }
  .evbutton_box > button {
    width:60px; height:60px;
  }
  .evimage_box {height:49.0625vw;}
  .evimage_box > ul > li > a {
    width:70px; height:40px;
    bottom:7%; left:10%;
  }
  /* #bestmenuBox */
  #bestmenuBox {
    margin-bottom:50px
  }
  #bestmenuBox > .view_box {
    width:200px; height:300px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
  }
  #bestmenuBox ul {
    width:600%; height:100%;
    margin:auto;
  }
  #bestmenuBox ul li {
    width:calc(100% / 6); height:100%;
  }
  #bestmenuBox li:first-of-type dt div {
    width:50px; height:50px;
  }
  /* #reviewBox */
  #reviewBox {
    padding:5px; box-sizing: border-box;
  }
  .rr_box {
    width:90%;
    padding:5px;
  }
  .rr_box li {
    width:90vw; height: 150px;
    margin:auto;
    margin-bottom: 30px;
  }
  .rr_box li:last-of-type{
    margin-bottom: 100px;
  }
  .rr_box li dl {
    width:100%; height:100%;
  }
  .rr_box li dt {
    float:left;
    width:30%; height:100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .rr_box li dd {
    float:right;
    width:69%; height:100%;
    padding:20px; box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
  }
  /* #footBox */
  .footnavi_box {display: none;}
  .sns_box {display:none;}
}