/*  c_tablet.css */

@media screen and (min-width:768px) and (max-width:1279px) {
  #wrap {
    width:100%; height:auto;
  }
  
  /* #headBox */
  /* #sideBox */
  #sideBox {display:none;}
  /* #viewBox */
  .indicator_box {
    bottom:5%;
    padding:1vw;
  }
  .indicator_box > ul > li {
    width:2vw; height:2vw;
    margin-left:5px;
  }
  
  .indicator_box > ul > li.act {
    width:5vw;
  }
  .evimage_box {height:49.0625vw;}
  .evimage_box > ul > li > a {
    bottom:10%; left:10%;
  }
  /* #bestmenuBox */
  #bestmenuBox {
    position: relative;
  }
  #bestmenuBox > .view_box {
    width:300px; height:500px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
  }
  #bestmenuBox ul {
    position:relative;
    width:600%; height:100%;
    margin:auto;
  }
  #bestmenuBox ul li {
    width:calc(100% / 6); height:100%;
    box-shadow: none;
  }
  .bmbutton_box {
    position:absolute;
    z-index: 1;
    width:100%; height:auto;
    top:50%; transform: translateY(-50%);
    padding:0 1.3rem; box-sizing: border-box;
    opacity:0.9;
  }
  .bmbutton_box button i {
    font-size:3rem;
    color:#777;
  }
  .bmbutton_box .next_btn {
    float:right;
    width:80px; height:80px;
    border:1px solid #777;
    border-radius: 100%;
  }
  .bmbutton_box .prev_btn {
    float:left;
    width:80px; height:80px;
    border:1px solid #777;
    border-radius: 100%;
  }
  /* #reviewBox */
  .rr_box {width:100%;}
  .rr_box li {
    width:70vw; height: 11.71875vw;
    margin-bottom: 80px;
  }
  /* #footBox */

}