/*  d_laptop.css */

@media screen and (min-width:1280px) and (max-width:1599px) {

/* #headBox */

/* #sideBox */
#sideBox {}

/* #viewBox */
.indicator_box {
  bottom:20px;
  padding:20px;
}
.indicator_box > ul > li {
  width:30px; height:30px;
  margin-left:20px;
}

.indicator_box > ul > li.act {
  width:100px;
}

.evimage_box {height:600px;}
.evimage_box > ul > li > a {
  bottom:5%; left:5%;
}
/* #bestmenuBox */
#bestmenuBox ul {
  width:70%; height:auto;
  margin:auto;
  padding:40px; box-sizing: border-box;
}
#bestmenuBox ul li {
  width:23.4375vw; height:31.25vw; max-width:374px; max-height:499px;
  margin-right: 15.625vw; margin-bottom:6.25vw;
}
#bestmenuBox ul li:nth-of-type(2n) {
  margin-right: 0;
}
.bmbutton_box {
  display: none;
}
/* #reviewBox */

.rr_box {width:100%;}
.rr_box li {
  float:left;
  width:39.0625vw; height: 11.71875vw;
  margin-right: 100px;
  margin-bottom: 80px;
}
.rr_box li:nth-of-type(2n) {
  margin-right: 0;
}

/* #footBox */
}