/* main/e_pc.css */

@media screen and (min-width:1600px) {
  
#wrap {
  max-width:1920px;
  margin:auto;
}
/* #headBox */
#naviBox {
  width:70%; height:50px;
  padding-top: 15px; box-sizing: border-box;
}
.globalnavi_box {
  float:left;
  width:60%; height:auto;
}
.globalnavi_box > li div {
  margin-right:100px;
}
.usernavi_box {
  float:right;
  width:30%; height:auto;
}
.usernavi_box > li {
  width:24%;
}
/* #sideBox */
#sideBox {}
/* #viewBox */
.indicator_box {
  bottom:10px;
  padding:20px;
}
.indicator_box > ul > li {
  width:30px; height:30px;
  margin-left:20px;
}
.indicator_box > ul > li.act {
  width:100px;
}
.evimage_box {height:700px;}
.evimage_box > ul > li > a {
  bottom:5%; left:5%;
}
/* #bestmenuBox */
#bestmenuBox ul {
  width:80%; height:auto;
  margin:auto;
  padding:40px; box-sizing: border-box;
}
#bestmenuBox ul li {
  width:18.75vw; max-width: 360px; height:25vw; max-height:480px; 
  margin-right: 140px; margin-bottom:80px;
}
#bestmenuBox ul li:nth-of-type(3n) {
  margin-right: 0;
}
/* #reviewBox */
.rr_box {width:85%;}
.rr_box li {
  float:left;
  width:31.25vw; max-width: 600px; height: 9.375vw; max-height: 180px;
  margin-right: 150px;
  margin-bottom: 80px;
}
.rr_box li:nth-of-type(2n) {
  margin-right: 0;
}
/* #footBox */
}